@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;} *, *:before, *:after {box-sizing: inherit}
        
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
    


    :root {
        --line-border-fill: #3498db;
        --line-border-empty: #e0e0e0;
    }


    html {
        font-size: 62.5%; 
    }


       /* stripping of styles */
    body,
    ul,
    h1,
    h2,
    h3
    p {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }


    body{
           /* background-color:#FAF3DD; */
        background-color: white;
        line-height: 1.3;
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
    }



       /* wrapper style */

    .wrapper {
        width: 90%;
        max-width: 1600px;
        margin: 0 auto;
    }

    /* header styles */
    
    header{
        background-color:#022659;
        
    }

    h1{
           /* color:#AED9E0; */
    color:white;
    padding:10px;
    font-size:calc(1.5rem + 1vw);
    font-weight:500;

    }

    h2{
        font-weight:400;
        color:#94A3B8;
    }

    h3{
        font-size:1.5rem;
        text-align: initial;
        font-weight:500;
    }

    h4{
        font-size:1.5rem;
    }

    input{
        width:550px;
        height:30px;
    }

    textarea{
        font-size:1.5rem;
        width:550px;
        height:120px;
    }

    button {
        border: none;
        background-color: #3FA2F7;
        cursor: pointer;
        font-weight:500;
        font-size: 2rem;
        padding-left: 20px;
        padding-right:20px;
        border-radius: 5px;
        color:white;
    }

    button:hover {
        color: white;
    }

    button:focus {
        color: white;
    }

    p{
        text-align: initial;
        color:rgb(138, 137, 137);
        font-style: italic;
    }



    .container {
        text-align: center;
        position:relative;
      }

    .questionBoard{
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-bottom:20px;
        padding-top:20px;
        width:50%;
        margin:0 auto;

    }
    .questionContainer{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .questionTitle{
        border:1px solid black;
        font-size:1.5rem;
    }

    .inputContainer{
        border-radius:10px;
        margin-bottom:10px;
        padding-top:10px;
        
    }
      
    .btnContainer{
        position: fixed;
        left: 75%;
        z-index: 4;
        transform: translateY(-15px);
    }


    .newBtn{
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 20px;
        color:#EEAF5D;
        background:#022659;
        border-radius:0%;
        padding:0px;
        margin-right:10px;
    }

    .barContainer {
        width: 30%;
        background: #eee;
        cursor: pointer;
        border-radius:10px;
        position:absolute;
        left:0;
        bottom:0;
        transform:translate(65px, -20px)
      }
      
      .bar {
        width: 0;
        height: 5px;
        transition: width 0.3s;
        background:#004AAD;
      }

    /* main styles */
    
    main section{
        display: flex;
        
    }

    .cards{
        width:200px;
        background:#E2E8F0;
        color:#5E6472;
        margin:10px;
        border:none;
        font-size:1rem;
        text-transform: capitalize;
        order:0;
        padding:10px;
        
    }

    .userAnswerInput,
    .userAnswerTextarea{
        width:150px;
        background:#E2E8F0;
        border:none;
    }

    .userAnswerInput{
        height:20px;
        display:flex;
        flex-wrap:wrap;
        font-size:1.5rem;
    }

    h4{
        color:#A27841;
        font-weight:600;
    }

    .mainSection{
        display:none;
    }

    .sectionContainer{
        display:flex;
        flex-direction: column;
    }

    .storySection{
        margin: 0 auto;
    }

    .storyBoard,
    .blankCards,
    .saveContainer{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
    }
    .blue{
        background-color:#6babff;
        border-radius:10px;
        padding:10px;
        margin:10px;
        
    }

    .userAnswer{
        display:grid;
        grid-template-columns: repeat(5,1fr);
    }

    .saveContainer{
        width:100vw;
    }
    .storyBoard{
        height:200px;
        width:100vw;

    }

    .storyContainer{
        border-radius:10px;
        padding:10px;
        margin:10px;
        background-color:#ffedd5;
    }



        
    .active{
        transform: translateY(40%);
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center; 
        z-index:2;
        background-color:white;
}

    .minimize{
        display:flex;
    }

    /* used for hiding container */
    .hide{
        display:none;
    }

    

       /* use to show a container */
    .show{
        display:flex;
    }

    .storyBoardSection{
        display:none;
    }

    .sectionContainer button{
        border: none;
        background-color:white;
        cursor: pointer;
        font-weight:600;
        font-size: 1.5rem;
        color:rgb(14, 21, 31);
    }



